.ButtonBar {
  padding: 1em;
  background: #fdf;
  margin-top: 1em;
  display: flex;
}

.ButtonBar button {
  border: none;
  background: white;

  padding: 0.5em;
  font-family: inherit;

  cursor: pointer;

  &:hover {
    background: #eee;
  }
  &::before {
    content: "+ ";
  }
}

.ButtonBar li:not(:first-child) {
  margin-left: 1em;
}
