.ItemCard {
  margin-top: 1em;
  display: flex;

  > * + * {
    margin-left: 1em;
  }
}

.description {
  width: 300px;
}

.description * + * {
  margin-top: 0.5em;
}

.description h1,
.description h2 {
  font-weight: bold;
  text-transform: capitalize;
}
